.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .app_bar {
    justify-content: center;
    align-items: center;
    position: static !important;
    min-height: 100px;
    a {
      color: rgb(185, 185, 185);
      text-decoration: none;
    }
    span {
      color: red;
    }
  }
}
